{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>Ich freue mich, dass dich das Thema Ernährung beschäftigt und du darüber nachdenkst, dich dabei professionell unterstützen zu lassen. Neben der Vielzahl an Informationen, die heutzutage im Internet herumwirren, ist es nicht einfach herauszufinden, was für dich oder deinen Hund wirklich gut und das Richtige ist. Dabei möchte ich dir gerne helfen!</p>
            <p>Ich gestalte meine Beratung ganzheitlich, denn oft spielt nicht nur die Ernährung allein eine wichtige Rolle. Auch weitere Einflüsse können dazu führen, dass es uns oder unserem Hund nicht gut geht und die Gesundheit beeinflussen.</p>
            <p>Für die Beratung treffen wir uns online, bei dir zu Hause oder draußen. Auch ein telefonisches Beratungsgespräch ist möglich. Wir schauen, womit du dich am wohlsten fühlst und was für dich am besten funktioniert.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
