{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="kontakt" netlify>
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="Vorname" id="first-name" placeholder="Vorname">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="Nachname" id="last-name" placeholder="Nachname">
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="E-mail-Adresse" id="email" placeholder="E-mail-Adresse" required>
              </div>
              <div class="col-lg-6">
                <input type="tel" class="form-control" name="Telefon" id="tel" placeholder="Telefon">
              </div>
              <div class="col-12">
                <textarea class="form-control" id="text" name="Text" rows="6" placeholder="Über deinen Hund"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="Anfrage senden">
                      Anfrage senden
                    </span>
                  </span>
                </button>
              </div>
              <p id="contact-form-status"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
